---
const today = new Date();
import type { MenuItem } from 'src/models/menu';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const menu: MenuItem[] = [
  {
    label: 'Privacy Policy',
    path: '/privacy',
  },
];

const social: MenuItem[] = [
  {
    label: 'Reddit',
    path: 'https://www.reddit.com/user/johnny-wubrg/',
  },
  {
    label: 'Moxfield',
    path: 'https://moxfield.com/users/JohnnyWubrg',
  },
  {
    label: 'RSS',
    path: '/rss.xml',
  },
];
---

<footer class="footer">
  <div class="footer-wrap">
    <div class="footer-top">
      <div class="info">
        <p>
          A <a href="/">{SITE_TITLE}</a> catastrophe by <a
            href="https://www.quangdao.com">Quangdao Nguyen</a
          >. All rights reserved.
          {
            menu?.length &&
              menu.map((item) => (
                <>
                  | <a href={item.path}>{item.label}</a>
                </>
              ))
          }
        </p>
      </div>

      {
        social?.length && (
          <div class="social">
            <p>
              {social.map((item, i) => (
                <>
                  {i !== 0 && <> &bull; </>}
                  <a href={item.path} target="_blank">
                    {item.label}
                  </a>
                </>
              ))}
            </p>
          </div>
        )
      }
    </div>
    <div class="footer-bottom">
      <p class="disclaimer">
        <b>Magic: the Gathering</b> is copyright Wizards of the Coast, LLC, a subsidiary
        of Hasbro, Inc. Portions of this website are unofficial fan content permitted
        under the Wizards of the Coast Fan Content Policy. This site is not produced
        by, endorsed by, supported by, or affiliated with Wizards of the Coast.
      </p>

      <p class="disclaimer" style="float: left;">
        Portions of this site is powered by <b>Scryfall</b>, which is not an
        affiliate of this site.
      </p>

      <p class="disclaimer" style="float: right">
        Why was the leonin obsessed with infinite combos? Because he was Ajani.
      </p>
    </div>
  </div>
</footer>

<style lang="scss">
  @use 'src/styles/mixins';

  .footer {
    p {
      margin: 0;
    }
    &-wrap {
      max-width: var(--container-width);
      margin: auto;
      padding: 1rem;
    }
    &-top {
      margin-bottom: 1em;
      @include mixins.breakpoint(small) {
        display: flex;
        justify-content: space-between;
      }
      .info {
        margin-bottom: 1em;
        @include mixins.breakpoint(small) {
          margin-bottom: 0;
        }
      }
    }

    .disclaimer {
      font-size: 0.75em;
      font-style: italic;
      margin-bottom: 1em;
    }
  }
</style>
